body{
	padding:0px;
	margin:0px;
	font-family: helvetica neue, arial, sans-serif;
	background:rgb(7,11,42);
}

h2 {
	font-weight: 100;	
	font-weight: lighter;	
	margin: 0;
	padding: .25em 0;
}
	
	#colorBLOCK {
		z-index:1; 
		position:fixed; 
		top:0px; 
		left:0px; 
		background:rgb(7,11,42);
	}
			
	.bigNums div.ColNums {
		width: auto;
		position: fixed;
		top: 18px;
		right: 18px;
		border-radius: 9px;
		padding: 0 1em;
		color: white;
		overflow: hidden;
		height: auto;
		font-size:1.2em;
		z-index:3;
	}
	
	.bigNums div.ColNums.start {
		background: rgba(70,70,70,.8);
	}
	
	.bigNums ul {
		list-style-type: none;
		margin: 0;
		padding: 0;		
	}
	
	.start {
		display: none;
	}

	.bigNums div .row{
		display:block;
	}
	
	.bigNums div .colorholder{
		display:block !important;
		float:left;
		margin: 5px;
	}
	
	.bigNums div .colorholder .eaColor {
		display:block;
		width:80px;
		height:80px;
		border-radius: 40px 40px 40px 40px;
	}			